<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dictation.mapper.BoardDAO">

	<select id="get" parameterType="Map" resultType="BoardVO">

		select
			lecture_no,
			board_cd,
			no,
			seq_no,
			title,
			content,
			auth_nm,
			read_cnt,
			file_nm,
			save_file_nm,
			input_id,
			input_date,
			update_id,
			update_date
		from
			board
		where 1=1
			and lecture_no = #{lecture_no}
			and no = #{no}
		order by seq_no asc

	</select>

	<select id="getList" parameterType="Map" resultType="BoardVO">

		select
			lecture_no,
			board_cd,
			no,
			seq_no,
			auth_nm,
			title,
			read_cnt,
			update_id,
			update_date
		from
			board
		where 1=1
			and lecture_no = ${lecture_no}
			and seq_no = 0
		<if test="board_cd != null">
			and board_cd = #{board_cd}
		</if>
			order by update_date desc

	</select> 

	<insert id="insert" parameterType="BoardVO">

		insert into board(
			lecture_no,
			board_cd,
			no,
			seq_no,
			auth_nm,
			title,
			content,
			read_cnt,
			file_nm,
			save_file_nm,
			input_id,
			input_date,
			update_id,
			update_date
		) values (
			#{lecture_no},
			#{board_cd},
			(select
				coalesce(max(no) + 1, 1)
			from
				board
			where
				lecture_no = #{lecture_no}),
			0,
			(select
				kor_nm
			from
				users
			where
				user_id = #{input_id}),
			#{title},
			#{content},
			0,
			#{file_nm},
			#{save_file_nm},
			#{input_id},
			now(),
			#{update_id},
			now()
		)

	</insert>

	<insert id="insertComment" parameterType="BoardVO">

		insert into board(
			lecture_no,
			board_cd,
			no,
			seq_no,
			auth_nm,
			content,
			input_id,
			input_date,
			update_id,
			update_date
		) values (
			#{lecture_no},
			#{board_cd},
			#{no},
			(select
				max(seq_no) + 1
			from
				board
			where 1=1
				and lecture_no = #{lecture_no}
				and board_cd = #{board_cd}
				and no = #{no}),
			(select
				kor_nm
			from
				users
			where
				user_id = #{input_id}),
			#{content},
			#{input_id},
			now(),
			#{update_id},
			now()
		)

	</insert>

	<update id="update" parameterType="BoardVO">

		update
			board
		set
			title = #{title},
			content = #{content},
			file_nm = #{file_nm},
			save_file_nm = #{save_file_nm},
			update_id = #{update_id},
			update_date = now()
		where 1=1
			and lecture_no = #{lecture_no}
			and board_cd = #{board_cd}
			and no = #{no}

	</update>

	<update id="updateComment" parameterType="BoardVO">

		update
			board
		set
			content = #{content},
			update_id = #{update_id},
			update_date = now()
		where 1=1
			and lecture_no = #{lecture_no}
			and board_cd = #{board_cd}
			and no = #{no}
			and seq_no = #{seq_no}

	</update>

	<update id="updateCount" parameterType="Map">

		update
			board
		set
			read_cnt = (
				select
					max(read_cnt) + 1
				from
					board
				where 1=1
					and lecture_no = #{lecture_no}
					and no = #{no}
					and seq_no = 0
				)
		where 1=1
			and lecture_no = #{lecture_no}
			and no = #{no}
			and seq_no = 0

	</update>

	<delete id="delete" parameterType="Map">

		delete from
			board
		where 1=1
			and lecture_no = #{lecture_no}
			and board_cd = #{board_cd}
			and no = #{no}

	</delete>

	<delete id="deleteComment" parameterType="Map">

		delete from
			board
		where 1=1
			and lecture_no = #{lecture_no}
			and board_cd = #{board_cd}
			and no = #{no}
			and seq_no = #{seq_no}

	</delete>

</mapper>

