<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dictation.mapper.BoardMapper">

	<select id="get" parameterType="Map" resultType="BoardVO">

		select
			lecture_no,
			board_cd,
			no,
			seq_no,
			title,
			content,
			read_cnt,
			file_nm,
			save_file_nm,
			input_id,
			input_date,
			update_id,
			update_date
		from
			board
		where 1=1
			and lecture_no = #{lecture_no}
			and no = #{no}

	</select>

	<select id="getList" parameterType="Map" resultType="BoardVO">

		select
			lecture_no,
			board_cd,
			no,
			seq_no,
			title,
			read_cnt,
			input_id,
			input_date,
			update_id,
			update_date
		from
			board
		where 1=1
			and lecture_no = ${lecture_no}
		<if test="board_cd != null">
			and board_cd = #{board_cd}
		</if>

	</select> 

	<insert id="insert" parameterType="BoardVO">

		insert into board(
			lecture_no,
			board_cd,
			no,
			seq_no,
			title,
			content,
			read_cnt,
			file_nm,
			save_file_nm,
			input_id,
			input_date,
			update_id,
			update_date
		) values (
			#{lecture_no},
			#{board_cd},
			(select
				coalesce(max(lecture_no) + 1, 1)
			from
				board
			where
				lecture_no = #{lecture_no}),
			0,
			#{title},
			#{content},
			0,
			#{file_nm},
			#{save_file_nm},
			#{input_id},
			now(),
			#{update_id},
			now()
		)

	</insert>

	<update id="update" parameterType="BoardVO">

		update
			board
		set
			title = #{title},
			content = #{content},
			file_nm = #{file_nm},
			save_file_nm = #{save_file_nm},
			update_id = #{id},
			update_date = now()
		where 1=1
			and lecture_no = #{lecture_no}
			and board_cd = #{board_cd}
			and no = #{no}

	</update>

	<delete id="delete" parameterType="Map">

		delete from
			board
		where 1=1
			and lecture_no = #{lecture_no}
			and board_cd = #{board_cd}
			and no = #{no}
			and seq_no = #{seq_no}

	</delete>

</mapper>

