<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dictation.mapper.DaeMapper"> 
	
	<select id="get" parameterType="String" resultType="DaeVO">

		SELECT
			DAE_CD,
			DAE_NM,
			USE_YN
		FROM
			DAE_CD
		WHERE
			DAE_CD = #{dae_cd}

	</select>
	
	<select id="list" resultType="DaeVO">

		SELECT
			DAE_CD,
			DAE_NM,
			USE_YN
		FROM
			DAE_CD

	</select>

	<insert id="insert" parameterType="DaeVO">

		INSERT INTO DAE_CD (
			DAE_CD,
			DAE_NM,
			USE_YN,
			INPUT_ID,
			INPUT_DATE,
			UPDATE_ID,
			UPDATE_DATE
		) VALUES (
			#{dae_cd},
			#{dae_nm},
			#{use_yn},
			#{input_id},
			NOW(),
			#{update_id},
			NOW()
		)

	</insert>
 
 	<update id="update" parameterType="DaeVO">

		UPDATE
			DAE_CD
		SET
			DAE_NM = #{dae_nm},
			USE_YN = #{use_yn},
			UPDATE_ID = #{update_id},
			UPDATE_DATE = NOW()
		WHERE
			DAE_CD = #{dae_cd}

	</update>
 
 
	<delete id="delete" parameterType="String">
		delete from dae_cd where dae_cd=#{dae_cd}
	</delete>
 

	
	


</mapper>

