<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dictation.mapper.DictationDAO">

	<select id="get" parameterType="Map" resultType="CourseVO">

		select
		    lecture_no,
		    course_no,
		    question_no,
			question,
		    file_nm,
		    save_file_nm,
		    open,
		    input_id,
		    input_date,
		    update_id,
			update_date
		from
			course
		where 1=1
			and lecture_no = #{lecture_no}
		<if test="course_no != null">
			and course_no = #{course_no}
		</if>
		<if test="course_no == null">
			and course_no = (select max(course_no) from course where lecture_no = #{lecture_no})
		</if>

	</select>

	<insert id="insertQuestion" parameterType="CourseVO">

		insert into course (
			lecture_no,
			course_no,
			question_no,
			question,
			file_nm,
			save_file_nm,
			input_id,
			input_date,
			update_id,
			update_date
		) values (
		    #{lecture_no},
			#{course_no},
			#{question_no},
			#{question},
			#{file_nm},
			#{save_file_nm},
			#{input_id},
			now(),
			#{update_id},
			now()
		)

	</insert>

	<insert id="insertAnswer" parameterType="CourseVO">

		insert into study (
			lecture_no,
			course_no,
			question_no,
			answer,
			correct_yn,
			input_id,
			input_date,
			update_id,
			update_date
		) values (
			 #{lecture_no},
			 #{course_no},
			 #{question_no},
			 #{answer},
			 #{input_id},
			 now(),
			 #{update_id},
			 now()
		)

	</insert>

	<update id="update" parameterType="CourseVO">

		update
		    course
		set
			lecture_no = #{lecture_no},
			course_no = #{course_no},
			question = #{question},
			file_nm = #{file_nm},
			save_file_nm = #{save_file_nm},
			open = #{open},
			update_id = #{id},
			update_date = now()

	</update>

</mapper>

