<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dictation.mapper.EnrollMapper"> 

	<select id="getMyList" parameterType="UserVO" resultType="EnrollVO">

		select
			year,
			term,
			lecture_no,
			user_id,
			register_dt,
			approval_dt,
			approval_cd,
			pass_course_no,
			study_time,
			input_id,
			input_date,
			update_id,
			update_date
		from
			enroll
		where 1=1
			and user_id = #{user_id}

	</select>

	<insert id="insert" parameterType="com.dictation.vo.EnrollVO">

		insert into enroll(
			year,
			term,
			lecture_no,
			user_id,
			register_dt,
			approval_dt,
			approval_cd,
			pass_course_no,
			study_time,
			input_id,
			input_date,
			update_id,
			update_date
		) values (
			'2020',
			'1',
			#{lecture_no},
			#{user_id},
			#{register_dt},
			#{approval_dt},
			'미승인',
			#{pass_course_no},
			#{study_time},
			#{input_id},
			#{input_date},
			#{update_id},
			#{update_date}
		)

	</insert>

	<update id="update" parameterType="EnrollVO">

		update
		    enroll
		set
			pass_course_no = #{pass_course_no},
			study_time = #{study_time},
			update_id = #{update_id},
			update_date = NOW()
		where 1=1
			and user_id = #{user_id}
			and lecture_no = #{lecture_no}

	</update>

</mapper>