<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dictation.mapper.UserMapper"> 

	<select id="get" parameterType="map" resultType="UserVO">

		select
			user_id,
			pw,
			school_cd,
			position_cd,
			kor_nm,
			grade,
			ban,
		    bunho,
			birth_dt,
			cel_phone_no,
			gender_cd,
			email,
			input_id,
			input_date,
			update_id,
			update_date
		from
			users
		where
			user_id = #{id}

	</select>

	<select id="getList" parameterType="map" resultType="UserVO">

		select
			user_id,
			school_cd,
			fn_cmmn(position_cd) as position_cd,
			kor_nm,
			grade,
			ban,
		    bunho,
			birth_dt,
			cel_phone_no,
			fn_cmmn(gender_cd) as gender_cd,
			email,
			input_id,
			input_date,
			update_id,
			update_date
		from
			users

	</select>
	
  	<insert id="insert" parameterType="map">

		insert into users (
			user_id,
			pw,
			school_cd,
			position_cd,
			kor_nm,
			grade,
			ban,
		    bunho,
		    birth_dt,
			email,
		    gender_cd,
			input_id,
			input_date,
			update_id,
			update_date
		) values (
			#{user_id},
			#{pw},
			#{school_cd},
			#{position_cd},
			#{kor_nm},
			#{grade},
			#{ban},
		    #{bunho},
			#{birth_dt},
			#{email},
		    #{gender_cd},
			#{input_id},
			now(),
      		#{update_id},
			now()
		)

	</insert>
 
</mapper>

