<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dictation.mapper.UserMapper"> 

	<!-- according to id query -->
	<select id="get" parameterType="map" resultType="UserVO">

		SELECT
			USER_ID,
			PW,
			SCHOOL_CD,
			POSITION_CD,
			KOR_NM,
			END_NM,
			GRADE,
			BAN,
			BIRTH_DT,
			CEL_PHONE_NO,
			HOM_PHONE_NO,
			GENDER_CD,
			EMAIL,
			INPUT_ID,
			INPUT_DATE,
			UPDATE_ID,
			UPDATE_DATE
		FROM
			USERS
		WHERE
			USER_ID = #{id}

	</select>
	
  <insert id="insert" parameterType="map">

		INSERT INTO USERS (
			USER_ID,
			PW,
			SCHOOL_CD,
			POSITION_CD,
			KOR_NM,
			END_NM,
			GRADE,
			BAN,
			BIRTH_DT,
			CEL_PHONE_NO,
			HOM_PHONE_NO,
			GENDER_CD,
			EMAIL,
			INPUT_ID,
			INPUT_DATE,
			UPDATE_ID,
			UPDATE_DATE
		) VALUES (
			#{user_id},
			#{pw},
			#{school_cd},
			#{position_cd},
			#{kor_nm},
			#{end_nm},
			#{grade},
			#{ban}, 
			#{birth_dt},
			#{cel_phone_no},
			#{hom_phone_no},
			#{gender_cd},
			#{email},
			#{user_id},
			NOW(),
      #{user_id},
			NOW()
		)

	</insert>
 
</mapper>

